$color-bg: #f5f5f5;
$red-1: #b83f45;
$red-2: #ce4646;
$box-shadow: rgba(206,70,70,1);
$hover-nav: #db7676;
$hover-remove: #c18585;
$grey: #949494;
$divisor: #e6e6e6;
$white-fe: #fefefe;
$white-ff: #ffffff;
$black-1: #484848;
$black-2: #4d4d4d;
$black-3: #111111;