@import "./reset.scss";

body {
  font-family: Arial, sans-serif;
  background-color: #e6e6e6;
  height: 100vh;
}

h1 {
  color: #b83f45;
  font-size: 80px;
  font-weight: 200;
  text-align: center;
  width: 100%;
  margin: 20px 0;
}

.todo-app {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2), 0 25px 50px 0 rgba(0,0,0,.1);
  max-width: 550px;
  margin: 0 auto;
}