// Cores principais
$color-primary: #4d4d4d;
$color-secondary: #e6e6e6;

// Cores para textos e bordas
$color-text: #111;
$color-placeholder: #949494;
$title:#b83f45;
$color-text-shadow: hsla(0, 0%, 100%, 0.5);
$color-box-shadow: rgba(0, 0, 0, 0.1);
$color-box-shadow-dark: rgba(0, 0, 0, 0.2);
$color-box-shadow-light: rgba(0, 0, 0, 0.003);

// Cores de fundo
$color-background: #fff;
$color-background-dark: #f5f5f5;
