.h1{
    color: #b83f45;
    font-size: 80px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    top: -140px;
    width: 100%;
}