.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, .2), 
                0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, .2);
  }
  
  .footer-left {
    flex: 1;
    text-align: left;
  }
  
  .footer-links {
    flex: 2;
    display: flex;
    justify-content: center;
  }
  
  .footer-links a {
    padding: 5px 10px;
    font-size: 14px;
    text-decoration: none;
    color: #111111;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: border-color 0.3s ease;
  }
  
  .footer-links a:hover {
    border-color: #f00;
    border: 1px solid #CE4646ed;
  }

  .clear-completed-btn{
    border: none;
    background-color: transparent;
    color: #111111
  }

  .clear-completed-btn:hover{
    text-decoration: underline;
  }
  


  