@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  font-family: Arial, Helvetica, sans-serif;
  border: 0px solid black;
}

.sheets-effect {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sheets-effect::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 99%;
  height: 6px;
  background-color: #f6f6f6;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.sheets-effect::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 97%;
  height: 6px;
  background-color: #f6f6f6;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.remove-icon {
  display: none;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.peer:hover .remove-icon {
  display: block;
}
