:root{
    font-size: 62.5%;
}

a, a:visited, a:link{
    text-decoration: none;
    color: $main-orange-color;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}