ul#list_container{

    display: flex;
    flex-direction: column;

    li.item_container{

        align-items: center;
        border-bottom: 1px solid #d3d3d3;
        display: flex;
        font-size: 2rem;
        position: relative;

        &.focus_item {
            box-shadow: 0px 0px 3px 2px  $main-orange-color;
        }

        .editing_container{
            padding: 1.5rem 6rem;
            width: 100%;

            .editing_input{
                border: 0;
                background-color: transparent;
                font-size: 2rem;
                width: 100%;

                &::placeholder{
                    color: #000000;
                    font-style: italic;
                    opacity: 0.6;
                }
            }
        }

        .item_status {
            display: none;
        }
        
        .custom-checkbox-label {
            width: 3.2rem;
            height: 3rem;
            background-color: hsl(0, 0%, 94%);
            border: 2px solid #ccc;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            margin-left: 1.5rem;
            cursor: pointer;
        }

        .custom-checkbox-label::after {
            content: "";
            width: 3rem;
            height: 2rem;
            background: url(../../assets/icons/check.svg) no-repeat center;
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .item_status:checked + .custom-checkbox-label::after {
            display: block;
        }

        .item_status:checked + .custom-checkbox-label{
            border-color: $main-orange-color;
        }
        
        .custom-checkbox-label:hover {
            border-color: $main-orange-color;
        }

        &:hover{
            background-color: #ebebeb;
        }

        .item_title{
            padding: 1.5rem 1.6rem;
            word-break: break-all;
            text-align: start;
            transition: 0.2s ease-in-out;
            width: 100%;

            &.title_style_done{
                text-decoration: line-through;
                opacity: 0.7;
            }

        }

        .remove_task_button{
            position: absolute;
            background-color: transparent;
            border: 0;
            color: #888888;
            cursor: pointer;
            display: none;
            font-size: 2.6rem;
            margin-right: 1.5rem;
            right: 0;
        }

        &:hover{
            .remove_task_button{
                display: block;

                &:hover{
                    color: red;
                }
            }
        }

    }

}